<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WCTC Esports Program - Rocket League</title>
    <link rel="stylesheet" type="text/css" href="/styles/common.css" />
  </head>
  <body>
    <div class="container">
      <h1>Rocket League MMR</h1>
      <p>
        Welcome to the Rocket League section of the WCTC Esports Program
        website. Here, you can track MMR for Rocket League players in different
        divisions.
      </p>

      <h2>Varsity</h2>
      <% varsityPlayers.forEach(player => { %>
        <h3><%= player.username %></h3>
        <p>3s MMR: <%= player.mmr3s %></p>
        <p>2s MMR: <%= player.mmr2s %></p>
        <p>1s MMR: <%= player.mmr1s %></p>
        <p>Average MMR: <%= (player.mmr3s + player.mmr2s + player.mmr1s) / 3 %></p>
      <% }) %>

      <h2>JV</h2>
      <% jvPlayers.forEach(player => { %>
        <h3><%= player.username %></h3>
        <p>3s MMR: <%= player.mmr3s %></p>
        <p>2s MMR: <%= player.mmr2s %></p>
        <p>1s MMR: <%= player.mmr1s %></p>
        <p>Average MMR: <%= (player.mmr3s + player.mmr2s + player.mmr1s) / 3 %></p>
      <% }) %>

      <h2>JV2</h2>
      <% jv2Players.forEach(player => { %>
        <h3><%= player.username %></h3>
        <p>3s MMR: <%= player.mmr3s %></p>
        <p>2s MMR: <%= player.mmr2s %></p>
        <p>1s MMR: <%= player.mmr1s %></p>
        <p>Average MMR: <%= (player.mmr3s + player.mmr2s + player.mmr1s) / 3 %></p>
      <% }) %>

    </div>
  </body>
</html>